<h3><%= "#{@calendar.month} / #{@calendar.year}" %></h3>
<table>
  <tr>
    <% Calendar.days_of_week.each do |day| %>
        <th><%= day %></th>
    <% end %>
  </tr>

  <% @calendar.weeks.each do |week| %>
      <tr>
        <% week.each do |day| %>
            <% if day.month != @calendar.month %>
                <td></td>
            <% else %>
              <% if Event.find_by_date(day).empty? %>
                  <td><%= day.mday %></td>
              <% else %>
                  <td><%= link_to day.mday, list_calendar_events_path(day) %></td>
              <% end %>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>
<br>
<%= link_to 'Events', events_path %>